<ion-header>
  <ion-navbar>
    <ion-title>
      Routines
    </ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!reorderIsEnabled" (click)="toggleReorder()">
        Edit
      </button>
      <button ion-button *ngIf="reorderIsEnabled" (click)="toggleReorder()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--
      ionItemReorder event passes event to fn
      $event is reserved keyword
      contains existing index position and new position after reorder
  -->
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReordered($event)">
    <ion-item-sliding *ngFor="let routine of routines">
      <ion-item>{{ routine }}</ion-item>
      <ion-item-options side="right">

      </ion-item-options>
    </ion-item-sliding>

    <!--    -->
  </ion-list>
  <ion-fab right bottom >
    <button ion-fab (click)="openRoutineAlert()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
